<div id="header">
  <ul id="intro">
    <li><a href="">Home</a></li>
    <li><a href="">Band</a></li>
    <li><a href="">Tour</a></li>
    <li><a href="">Contact</a></li>
    <li class="menu">
      <a style="display: flex; justify-content:base-line;" href="">More
        <i class="fa-solid fa-caret-down" style="display: block; margin-left: 5px; padding: 0; line-height: 47px; font-size: 24px;"></i>
      </a>
      <div class="card">
        <a href="#">Merchandise</a>
        <a href="#">Extras</a>
        <a href="#">Media</a>
      </div>
    </li>
  </ul>
<div class="search-btn">
  <i class="search-icon fa-solid fa-magnifying-glass"></i>
</div>
</div>
