* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#slider {
  width: 100%;
}

#slider .wrapper {
  width: 100%;
  position: relative;
  float: left;
  overflow: hidden;
}

.wrapper:hover .img {
  filter: blur(5px);
  transform: calc(1.1);
  opacity: 0;
}

.wrapper:hover .img1 {
  filter: blur(0);
  transform: calc(1);
  opacity: 1;
}

.img {
  width: 100%;
  float: left;
  position: absolute;
  transform-origin: 50%, 50%;
  opacity: 1;
  transition: 2s;
  z-index: 40;
}

.img1{
  width: 100%;
  float: left;
  transform: scale(1,1);
  opacity: 1;
  transition: 2s;
}


.text-content {
  position: absolute;
  color: #fff;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.text-heading {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 20px;
}

.text-description {
  font-size: 15px;
  margin-bottom: 0px;
}
